main h1{
	font-size: 40px;
	 background-color: 	#6495ED;
	 color: white;
	 text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
}
h2,h3,h4{
	font-family: "Open Sans Condensed", sans-serif;
}
body{
	font-family: "Crimson Text", serif;
	background-color:  #F2FFFC;
}
p{
	text-align: justify;
}